#projects img {
  transition: transform 0.5s;
}
.imageBox {
  overflow: hidden;
  box-shadow: #a16ffd 0px 4px 8px -2px, #a16ffd 0px 0px 0px 1px;
  border-radius: 10px;
}
#projects img:hover {
  transform: scale(1.1);
}
#projects {
  background-color: #1a191d;
  color: whitesmoke;
}
